.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap: var(--gap-xs);
	height: 40px;
	padding-block: 8px;
	padding-inline: 13px;
	font-weight: 600;
	border-radius: var(--border-radius-btn);
	background-color: var(--color-primary-400);
	color: var(--color-neutral-0);
	border-color: transparent;
	cursor: pointer;
}

.buttonWrap {
	width: 18px;
	height: 18px;
}
