@font-face {
	font-style: normal;
	font-weight: 400;
	src: url('@/assets/fonts/SourceSans3-Regular.woff2') format('woff2');
	font-family: 'Source Sans 3';
}

@font-face {
	font-style: normal;
	font-weight: 600;
	src: url('@/assets/fonts/SourceSans3-SemiBold.woff2') format('woff2');
	font-family: 'Source Sans 3';
}

@font-face {
	font-style: normal;
	font-weight: 700;
	src: url('@/assets/fonts/SourceSans3-Bold.woff2') format('woff2');
	font-family: 'Source Sans 3';
}
