.logo {
	--size: 40px;
	display: flex;
	justify-content: end;
	align-items: center;
	width: 126px;
	height: var(--size);
	color: var(--color-neutral-0);
	text-decoration: none;
}

.logoTitle {
	position: relative;
	z-index: var(--z-index-title);
	font-weight: 700;
	font-size: var(--font-size-xlg);
}

.logoTitle::before {
	display: block;
	position: absolute;
	top: 5px;
	left: -13px;
	z-index: var(--z-index-titleBefore);
	border-radius: 10px;
	background: linear-gradient(
		var(--color-primary-400),
		var(--color-primary-500)
	);
	width: var(--size);
	height: var(--size);
	content: '';
}
