.logo {
	--size: 40px;
	display: flex;
	align-items: center;
	justify-content: end;
	width: 126px;
	height: var(--size);
	color: var(--color-neutral-0);
	text-decoration: none;
}

.title {
	position: relative;
	z-index: 100;
	font-size: var(--font-size-xlg);
	font-weight: 700;
}

.title::before {
	content: '';
	position: absolute;
	top: 5px;
	left: -13px;
	z-index: -1;
	display: block;
	height: var(--size);
	width: var(--size);
	background-color: var(--color-primary-500);
	border-radius: 10px;
}
