.statistic {
	display: flex;
	flex-direction: column;
	padding-inline: var(--padding-md);
	padding-block: var(--padding-md);
	row-gap: var(--gap-md);
	overflow: auto;
}

.statisticDesc {
	margin-bottom: auto;
	text-align: center;
}

.statisticImg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;
}
