.header {
	display: flex;
	position: sticky;
	justify-content: space-between;
	align-items: center;
	z-index: var(--z-index-header);
	inset: 0;
	background-color: var(--color-base-black);
	padding-block: var(--padding-xs);
}
