.nav {
	padding-inline: var(--padding-sm);
	padding-block: var(--padding-md);
	overflow: auto;
}

.navList {
	list-style-type: none;
}

.navLink {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
	min-width: 172px;
	min-height: 40px;
	padding: 8px;
	font-weight: 600;
	text-decoration: none;
	color: var(--color-neutral-0);
	background-color: var(--color-neutral-800);
	border-radius: var(--border-radius-btn);
	border-color: transparent;
	cursor: pointer;
}
