.footer {
	padding-block: var(--padding-sm);
	text-align: center;
}

.preax {
	color: var(--color-neutral-600);
	font-size: var(--font-size-sm);
}

.link {
	transition: opacity var(--animate);
	color: inherit;
	text-decoration-line: 1px;
	text-transform: uppercase;
}

@media (any-hover: hover) {
	.link:hover {
		opacity: 0.7;
	}
}
