:root {
	--font-family: 'Source Sans 3';

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	--font-size-base: 62.5%;
	--font-size-xlg: 3.2rem;
	--font-size-lg: 2.4rem;
	--font-size-md: 1.8rem;
	--font-size-sm: 1.6rem;
	--font-size-xs: 1.4rem;

	--color-white: #ffffff;
	--color-grey-100: #fbfbfb;
	--color-grey-200: #f3f3f3;
	--color-grey-300: #ececec;
	--color-grey-400: #bfbfbf;
	--color-grey-600: #6c6c6c;
	--color-grey-700: #393939;
	--color-grey-800: #1c1c1c;
	--color-grey-900: #141414;
	--color-light-pink: #fff4f4;
	--color-pink-100: #ffcece;
	--color-pink-200: #fca9a9;
	--color-pink-300: #f25959;
	--color-bright-red: #d51010;
	--color-dark-red: #a60c0c;
	--color-red-600: #760909;
	--color-black: #000000;

	--padding-lg: 4rem;
	--padding-md: 2.4rem;
	--padding-sm: 1.6rem;
	--padding-xs: 1.1rem;
	--padding-xxs: 0.8rem;

	--border-radius-btn: 8px;

	--gap-lg: 40px;
	--gap-md: 26px;
	--gap-sm: 16px;

	--animate: 0.3s;

	/* 
	--gap: 32px;
	--gap-lg: 21px;
	--gap-md: 16px;
	--gap-sm: 14px;
	--gap-xs: 12px;
	--gap-xxs: 8px;

	--padding-lg: 4.2rem;
	--padding-md: 3.2rem;
	--padding-sm: 1.6rem;
	--padding-xs: 1.2rem;

	--border-radius-circle: 50%;
	--border-radius-main: 10px;
	--border-radius-quiz-input: 6px;
	--border-radius-counter: 5px;
	--border-radius-close: 4px;

	--border-width-md: 4px;
	--border-width-sm: 3px;
	--border-width-xs: 2px;
	--border-width-xthin: 1px;  */
}
