.taskList {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-lg);
	height: calc(100vh - 210px);
	overflow: auto;
}

.taskListWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: var(--gap-sm);
	margin-top: auto;
}

.taskListTitle {
	font-size: var(--font-size-lg);
	font-weight: 700;
	line-height: 1.33;
}

.taskListDesc {
	font-size: var(--font-size-md);
	line-height: 1.33;
}

.taskListImg {
	display: flex;
	justify-content: center;
	margin-bottom: auto;
}
